page-entrydetails {
    .custom-icon {
        color : cornflowerblue;
      }

      .custom-0{
        color : green;
      }

      .custom-1{
        color : brown;
      }
      .custom-2{
        color : red;
      }
      .custom-3 {
        color : purple;
      }
      .custom-4 {
        color : black;
      }
      .custom-5 {
        color : mediumaquamarine;
      }
}
