<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>changepassword</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



  <form [formGroup]="passwordChangeForm" (ngSubmit)="passwordChange(passwordChangeForm.value)">
    
    
    <ion-item>
      <ion-label floating>Current Password:</ion-label>
      <ion-input type="password" value="" [formControl]="passwordChangeForm.controls['currentPassword']"></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="passwordChangeForm.controls['currentPassword'].hasError('required') && passwordChangeForm.controls['currentPassword'].touched">* Password is required!</div>
    <div class="error-box" *ngIf="passwordChangeForm.controls['currentPassword'].hasError('maxlength') && passwordChangeForm.controls['currentPassword'].touched">* Maximum password length is 50!</div>
    <div class="error-box" *ngIf="passwordChangeForm.controls['currentPassword'].hasError('minlength') && passwordChangeForm.controls['currentPassword'].touched">* Minimum password length is 3!</div>



    <ion-item>
      <ion-label floating>New Password:</ion-label>
      <ion-input type="password" value="" [formControl]="passwordChangeForm.controls['newPassword']"></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="passwordChangeForm.controls['newPassword'].hasError('required') && passwordChangeForm.controls['newPassword'].touched">* Password is required!</div>
    <div class="error-box" *ngIf="passwordChangeForm.controls['newPassword'].hasError('maxlength') && passwordChangeForm.controls['newPassword'].touched">* Maximum password length is 50!</div>
    <div class="error-box" *ngIf="passwordChangeForm.controls['newPassword'].hasError('minlength') && passwordChangeForm.controls['newPassword'].touched">* Minimum password length is 3!</div>

    
    <ion-item>
      <ion-label floating>Re-enter New Password:</ion-label>
      <ion-input type="password" [formControl]="passwordChangeForm.controls['confirmPassword']" ></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="passwordChangeForm.controls.confirmPassword.touched && passwordChangeForm.hasError('mismatchedPasswords') && passwordChangeForm.controls.newPassword.valid">Passwords do not match </div>


    <ion-item>
      <ion-label floating>View Only Password:</ion-label>
      <ion-input type="password" value="" [formControl]="passwordChangeForm.controls['newViewPassword']"></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="passwordChangeForm.controls['newViewPassword'].hasError('required') && passwordChangeForm.controls['newViewPassword'].touched">* Password is required!</div>
    <div class="error-box" *ngIf="passwordChangeForm.controls['newViewPassword'].hasError('maxlength') && passwordChangeForm.controls['newViewPassword'].touched">* Maximum password length is 50!</div>
    <div class="error-box" *ngIf="passwordChangeForm.controls['newViewPassword'].hasError('minlength') && passwordChangeForm.controls['newViewPassword'].touched">* Minimum password length is 3!</div>



    <br/>
    <button type="submit" ion-button full [disabled]="!passwordChangeForm.valid">Login</button>
  </form>





</ion-content>
