<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'CHANGE_PASSWORDS.TITLE' |translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



  <form [formGroup]="passwordChangeForm" (ngSubmit)="passwordChange(passwordChangeForm.value)">
    <ion-item>
      <ion-label floating>{{'CHANGE_PASSWORDS.CURRENT_PASSWORD' |translate}}:</ion-label>
      <ion-input type="password" value="" [formControl]="passwordChangeForm.controls['currentPassword']"></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="passwordChangeForm.controls['currentPassword'].hasError('required') && passwordChangeForm.controls['currentPassword'].touched">* {{'CHANGE_PASSWORDS.ERRORS.PASSWORD_REQUIRED' |translate}}!</div>
    <!-- <div class="error-box" *ngIf="passwordChangeForm.controls['currentPassword'].hasError('maxlength') && passwordChangeForm.controls['currentPassword'].touched">* Maximum password length is 50!</div>
    <div class="error-box" *ngIf="passwordChangeForm.controls['currentPassword'].hasError('minlength') && passwordChangeForm.controls['currentPassword'].touched">* Minimum password length is 3!</div> -->



    <ion-item>
      <ion-label floating>{{'CHANGE_PASSWORDS.NEW_PASSWORD' |translate}}:</ion-label>
      <ion-input type="password" value="" [formControl]="passwordChangeForm.controls['newPassword']"></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="passwordChangeForm.controls['newPassword'].hasError('required') && passwordChangeForm.controls['newPassword'].touched">* {{'CHANGE_PASSWORDS.ERRORS.PASSWORD_REQUIRED' |translate}}!</div>
    <div class="error-box" *ngIf="passwordChangeForm.controls['newPassword'].hasError('maxlength') && passwordChangeForm.controls['newPassword'].touched">* {{'CHANGE_PASSWORDS.ERRORS.PASSWORD_LENGTH_MAX' |translate}} 50!</div>
    <div class="error-box" *ngIf="passwordChangeForm.controls['newPassword'].hasError('minlength') && passwordChangeForm.controls['newPassword'].touched">* {{'CHANGE_PASSWORDS.ERRORS.PASSWORD_LENGTH_MIN' |translate}} 3!</div>

    
    <ion-item>
      <ion-label floating>{{'CHANGE_PASSWORDS.CONFIRM_PASSWORD' |translate}}:</ion-label>
      <ion-input type="password" [formControl]="passwordChangeForm.controls['confirmPassword']" ></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="passwordChangeForm.controls.confirmPassword.touched && passwordChangeForm.hasError('mismatchedPasswords') && passwordChangeForm.controls.newPassword.valid">{{'CHANGE_PASSWORDS.ERRORS.PASSWORD_NOT_MATCH' |translate}} </div>


    <ion-item>
      <ion-label floating>{{'CHANGE_PASSWORDS.VIEW_ONLY_PASSWORD' |translate}}:</ion-label>
      <ion-input type="password" value="" [formControl]="passwordChangeForm.controls['newViewPassword']"></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="passwordChangeForm.controls['newViewPassword'].hasError('required') && passwordChangeForm.controls['newViewPassword'].touched">* {{'CHANGE_PASSWORDS.ERRORS.PASSWORD_REQUIRED' |translate}}!</div>
    <div class="error-box" *ngIf="passwordChangeForm.controls['newViewPassword'].hasError('maxlength') && passwordChangeForm.controls['newViewPassword'].touched">* {{'CHANGE_PASSWORDS.ERRORS.PASSWORD_LENGTH_MAX' |translate}}!</div>
    <div class="error-box" *ngIf="passwordChangeForm.controls['newViewPassword'].hasError('minlength') && passwordChangeForm.controls['newViewPassword'].touched">* {{'CHANGE_PASSWORDS.ERRORS.PASSWORD_LENGTH_MIN' |translate}} 3!</div>



    <br/>
    <button type="submit" color="secondary" ion-button full [disabled]="!passwordChangeForm.valid">{{'CHANGE_PASSWORDS.SAVE' |translate}}</button>
  </form>





</ion-content>
