<ion-header>
  <ion-navbar>
    <ion-title>{{'HOME.TITLE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf='isThereData' >
    <ion-card-header>
      {{'HOME.CREDITORS' | translate}}:
    </ion-card-header>
    <ion-card-content>
      <canvas #creditorsCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf='isThereData'>
    <ion-card-header>
      {{'HOME.DEBTORS' | translate}}:
    </ion-card-header>
    <ion-card-content>
      <canvas #debtorsCanvas></canvas>
    </ion-card-content>
  </ion-card>


</ion-content>
