<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNIN.TITLE' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="main">
<div id="signIn"> 
    <form [formGroup]="signinForm" (ngSubmit)="signin(signinForm.value)">
    <ion-item>
      <ion-label floating>{{ 'SIGNIN.SHEET_ID' | translate}}:</ion-label>
      <ion-input type="text" value="" [formControl]="signinForm.controls['id']" [ngClass]="{'error-border':!signinForm.controls['id'].valid}"></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="signinForm.controls['id'].hasError('required') && signinForm.controls['id'].touched">* {{ 'SIGNIN.ER_ID_REQUIRED' | translate}}!</div>
    <div class="error-box" *ngIf="signinForm.controls['id'].hasError('maxlength') && signinForm.controls['id'].touched">* {{ 'SIGNIN.ER_ID_LENGTH_MAX' | translate}}!</div>
    <ion-item>
      <ion-label floating>{{ 'SIGNIN.PASSWORD' | translate}}:</ion-label>
      <ion-input type="password" value="" [formControl]="signinForm.controls['password']"></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched">* {{ 'SIGNIN.ER_PASSWORD_REQUIRED' | translate}}!</div>
    <div class="error-box" *ngIf="signinForm.controls['password'].hasError('minlength') && signinForm.controls['id'].touched">* {{ 'SIGNIN.ER_PASSWORD_LENGTH_MAX' | translate}}!</div>
    <div class="error-box" *ngIf="signinForm.controls['password'].hasError('maxlength') && signinForm.controls['id'].touched">* {{ 'SIGNIN.ER_PASSWORD_LENGTH_MIN' | translate}}!</div>
    <br/>
    <button class='myBTN' type="submit" ion-button full [disabled]="!signinForm.valid" >{{ 'SIGNIN.BTN_SIGNIN' | translate}}</button>
  </form>
</div>
<!-- 
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-list>
          <form (ngSubmit)="signin()">
            <ion-item>
              <ion-label>ID:</ion-label>
              <ion-input fixed [(ngModel)]="login.id" name="id" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Password:</ion-label>
              <ion-input fixed [(ngModel)]="login.password" name="password" type="text"></ion-input>
            </ion-item>
            <ion-item>
            <button type="submit" block ion-button>Login</button>
            </ion-item>
          </form>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid> -->




</ion-content>