page-signup {

        
        //  .login-content {
        //    background: #56CA96;
        
        //    .logo-row {
        //      padding-top: 50px;
        //      padding-bottom: 20px;
        //    }
        
        //    .login-box {
        //      background: #399F8B;
        //      padding: 20px 20px 0px 20px;
        //      margin-top: 30px;
        //    }
        
        //    ion-row {
        //       align-items: center;
        //       text-align: center;
        //     }
        
        //     ion-item {
        //         border-radius: 30px !important;
        //         padding-left: 30px !important;
        //         font-size: 0.9em;
        //         margin-bottom: 10px;
        //         border: 1px solid #ffffff;
        //         border-bottom: 0px !important;
        //         box-shadow: none !important;
        //     }
        
        //     .signup-col {
        //       margin: 0px 16px 0px 16px;
        //       padding-bottom: 20px;
        //     }
        
        //     .item-inner {
        //       border-bottom-color: #ffffff !important;
        //       box-shadow: none !important;
        //     }
        
        //     .submit-btn {
        //       background: #51CFB1;
        //       border-radius: 30px !important;
        //       border: 1px solid #ffffff;
        //     }
        
        //     .register-btn {
        //       color: #ffffff;
        //       font-size: 0.8em;
        //     }
        //  }
        #signUp{
            
            //margin-top: 10%;
            padding:25px;
            border: solid;
            border-width: 1px;
            border-color:color($colors,secondary);
            border-radius: 50px 50px 50px 50px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            background-color: white;
              
        .error-box{
          color: red;
          //padding-top: 2px;
          //margin-top: 1px;
      }
      .input-box{
          border: 1px solid #ea6153;
      }
      .myBTN{
        margin-left: auto;
        margin-right: auto; 
        opacity: 0.8;
        background-color: color($colors,myGreen);
        width: 80%;
        margin-top:20px;
        border-radius: 15px 15px 15px 0px;
      }
     
    }
    #signUp:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      #main{
        background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
}
